.bgContainer {
    background: url('../../TV.png');
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
}
.editContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    padding: 20px;
    border-radius: 10px;
    width: 755px;
    height: fit-content;
    gap: 25px;
  }
  
  .group {
    margin-bottom: 20px;
  }
  
  .labelContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .label {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  