/* Home.css */

.nav-home-container {
  background: url('../../public/plates.png');
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 61px;
  column-gap: 520px;
  justify-content: space-around;
}

.menu-card {
  background-color: rgb(247, 247, 245);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 7px 4px;
  overflow: hidden;
  padding: 5px;
  width: 20%;
}

.day-header {
  background-color: rgb(217 217 217);
  color: black;
  padding: 10px;
  text-align: center;
  margin: 2px;
  border-radius: 30px;
  font-size: larger;
}

.meals-container {
  padding: 10px;
}

.meal-section {
  margin-bottom: 10px;
}

.meal-time {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 17px;
}

.menu-item {
  margin-bottom: 8px;
  font-size: large;
}

.error-message {
  color: #e74c3c;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}
