h1 {
  text-align: center;
  font-size: 70px;
}

h2 {
  text-align: center;
  font-size: 50px;

}
.nav-home-container {
  background: url('../../fork.png');
  background-position: 0%;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.home-container {
  width: 24%;
  margin: auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  margin: 50px 60px 0;

}

.home-day-card {
  background-color: rgb(247, 247, 245);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 15px;
}

.home-day-header {
  background-color: rgb(217 217 217);
  color: black;
  padding: 5px;
  text-align: center;
  margin: 2px;
  border-radius: 30px;
  font-size: larger;
}

.home-meals-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-meal-section {
  padding: 15px;
}

.home-meal-time {
  font-weight: 500;
  margin-bottom: 5px;
}

.home-menu-item {
  margin-bottom: 8px;
  font-size: larger;
}
