/* Login.css */

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%; 
  /* "height: auto" if page large */
}

.bg-login {
  background: url('../../TV.png');
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login-container {
  border-radius: 8px;
}

.login-form {
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin: 66px;
  padding: 10px;
  width: 300px;

}

h2 {
  font-size: 35px;
  text-align: center;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 24px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 20px;
}

.btn-light {
  background-color: white;
  /* color: black; */
  padding: 9px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
  font-size: large;
}

.btn-light:hover {
  background-color: grey;
}

.text-center {
  height: 50px;
}

  