.full-screen {
  width: 100%;
  height: 100%;
}

.bg-signup {
  background: url('../../public/adita.png');
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.signup-container {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.signup-form {
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  height: 420px;
}

h2 {
  font-size: 35px;
  text-align: center;
  color: #333;
}

form {
  padding: 10px;
  border-radius: 10px;
  margin-top: 0px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 30px;
}

button {
  background-color: white;
  /* color: black; */
  padding: 9px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: grey;
}
