/* Vote.css */

.nav_vote_container {
  background: url('../../knife.png');
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.vote_container {
  font-family: 'Spicy Rice';
  display: flex;
  justify-content: space-around;
}

.day_container {
  width: 24%;
  flex-direction: column;
  display: flex;
  gap: 1em;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  margin: 10px 0px 0px;
}

.day_header {
  background-color: rgb(217 217 217);
  color: black;
  padding: 10px;
  text-align: center;
  margin: 2px;
  border-radius: 8px;
  font-size: larger;
}

.meals_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu_card {
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.meal_section {
  padding: 15px;
}

.meal_time {
  font-weight: 500;
  margin-bottom: 5px;
}

.menu_item {
  margin-bottom: 8px;
}

.vote_button {
  background-color: #505f70;
}

.error_message {
  color: #e74c3c;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}
